:root {
	--primary-color: #bdb0ff;
    --primary-color-rgb: 189,176,255;
    --background-alpha:0.23;
	--secundary-color: #fbfaf4;
	--text-color: #3c3c3c;

	--base-font-size: 16px;

	--heading-1-font-size: 4.5rem;
	--heading-2-font-size: 2.8125rem;
	--heading-3-font-size: 1.75rem;

	--body-tekst-font-size: 1.75rem;

	/* TODO: dont use pixel, just example for now */
	--standard-padding-section: 9rem;
    --standard-border-radius-button:5px;
}

@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url('./static/fonts/Franklin-Gothic-Medium.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: var(--base-font-size);
    text-decoration:none;
    list-style:none;
}

@media (max-width: 900px) {
	html {
		font-size: 15px;
	}
}
@media (max-width: 400px) {
	html {
		font-size: 13px;
	}
}

body {
    background:var(--secundary-color);
}

h1, h2, h3, h4 {
    color:var(--primary-color);
}

h1 {
	font-size: var(--heading-1-font-size);
}

h2 {
	font-size: var(--heading-2-font-size);
}

h3 {
	font-size: var(--heading-3-font-size);
}

h4 {
    font-size: var(--body-tekst-font-size);   
}

p, li, a{
	font-size: var(--body-tekst-font-size);
    line-height:1.5;
    color:var(--text-color);
}

a.primary-button {
    display:inline-block;
    flex:none;
    background:var(--primary-color);
    color:var(--secundary-color);
    padding:1.25rem 3rem;
    border-radius: var(--standard-border-radius-button);
}

a.secundary-button {
    display:inline-block;
    flex:none;
    background:var(--secundary-color);
    color:var(--primary-color);
    padding:1.25rem 3rem;
    border-radius: var(--standard-border-radius-button);
}
