:root {
	--primary-color: #bdb0ff;
	--primary-color-rgb: 189, 176, 255;
	--background-alpha: 0.23;
	--secundary-color: #fbfaf4;
	--text-color: #3c3c3c;

	--base-font-size: 16px;

	--heading-1-font-size: 4.5rem;
	--heading-2-font-size: 2.8125rem;
	--heading-3-font-size: 1.75rem;

	--body-tekst-font-size: 1.2rem;

	--standard-padding-section: 9rem;
	--standard-padding-between-text: 2.5rem;
	--standard-border-radius-button: 5px;

	--standard-transition-time:.5s;
}

@font-face {
	font-family: 'Franklin Gothic Medium';
	src: url('/fonts/OPTIFranklinGothic-Medium.otf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: var(--base-font-size);
	font-weight:100;
	text-decoration: none;
	list-style:none;
	scroll-behavior: smooth;
}

@media (max-width: 900px) {
	html {
		font-size: 15px;
	}

	figure {
		width:29rem;
		height:22rem;
	}
}
@media (max-width: 400px) {
	html {
		font-size: 13px;
	}

	figure {
		width:19rem;
		height:12rem;
	}
}

body {
	background: var(--secundary-color);
}

h1,
h2,
h3,
h4 {
	color: var(--primary-color);
}

h1 {
	font-size: var(--heading-1-font-size);
	margin-bottom:1.5rem;
}

h2 {
	font-size: var(--heading-2-font-size);
	margin-bottom: 1rem;
}

h3 {
	font-size: var(--heading-3-font-size);
	margin-bottom: .2rem;
}

h4 {
	font-size: var(--body-tekst-font-size);
}

p,
li,
a {
	font-size: var(--body-tekst-font-size);
	line-height: 1.5;
	color: var(--text-color);
}

p {
	max-width: 750px;
	line-height:1.6;
	letter-spacing:.030rem;
}

a.primary-button {
	display: inline-block;
	flex: none;
	background: var(--primary-color);
	color: var(--secundary-color);
	padding: 1rem 3rem;
	border-radius: var(--standard-border-radius-button);
	border:2px solid transparent;
	margin-top: 2.5rem;

	transition:var(--standard-transition-time);
}

a.primary-button:hover {
	background: var(--secundary-color);
	color: var(--primary-color);
	padding: 1rem 3rem;
	border-radius: var(--standard-border-radius-button);
	border:2px solid var(--primary-color);
	margin-top: 2.5rem;

	transform:scale(1.1);
}

a.secundary-button {
	display: inline-block;
	flex: none;
	background: var(--secundary-color);
	color: var(--primary-color);
	padding: 1rem 3rem;
	border-radius: var(--standard-border-radius-button);
	border:2px solid transparent;
	margin-top: 2.5rem;

	transition:var(--standard-transition-time);
}

a.secundary-button:hover {
	background: var(--primary-color);
	color: var(--secundary-color);
	padding: 1rem 3rem;
	border-radius: var(--standard-border-radius-button);
	border:2px solid var(--secundary-color);
	margin-top: 2.5rem;

	transform:scale(1.1);
}
